@import './variables';

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
    text-decoration: none;
}

// color
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }

    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// text-align
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}

// font size
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size
    }
}

// width,height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

// justify-content 水平方向
@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

// align-items 垂直方向
@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-1 {
    flex: 1
}

.flex-grow-1 {
    flex-grow: 1;
}

// spacing 边距
@each $typeKey,
$type in $spacing-types {

    @each $directionKey,
    $direction in $sapcing-directions {

        @each $sizeKey,
        $size in $spacing-size {

            // .mt-1
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size*$spacing-base-size;
            }

            // .m-1
            .#{$typeKey}-#{$sizeKey} {
                #{$type}: $size*$spacing-base-size;
            }

            // .my-1
            .#{$typeKey}y-#{$sizeKey} {
                #{$type}-top: $size*$spacing-base-size;
                #{$type}-bottom: $size*$spacing-base-size;
            }

            // .mx-1
            .#{$typeKey}x-#{$sizeKey} {
                #{$type}-left: $size*$spacing-base-size;
                #{$type}-right: $size*$spacing-base-size;
            }
        }
    }
}

// button 
.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($font-sizes, 'sm')*$base-font-size;
    padding: 0.2rem 0.6rem;
}

// nav
.nav-icons {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    .nav-item {
        border-bottom: 0.2308rem solid transparent;
        padding-bottom: 0.2rem;

        &.active {
            border-bottom: 0.2308rem solid #fff
        }
    }
}

// sprite 精灵图片
.sprite {
    background: url(../images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;

    &.sprite-news {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }

    &.sprite-story {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 90.483% 15.614%;
    }

    &.sprite-rim {
        width: 1.4615rem;
        height: 1.6923rem;
        background-position: 36.746% 0.924%;
    }

    &.sprite-experience {
        width: 1.5385rem;
        height: 1.5385rem;
        background-position: 10.408% 15.517%;
    }

    &.sprite-NewZone {
        width: 1.5385rem;
        height: 1.6154rem;
        background-position: 89.733% 1.266%;
    }

    &.sprite-honour {
        width: 1.8462rem;
        height: 1.5385rem;
        background-position: 36.467% 15.287%;
    }

    &.sprite-KingCamp {
        width: 1.8462rem;
        height: 1.8462rem;
        background-position: 63.3% 0.927%;
    }

    &.sprite-OfficialAccounts {
        width: 1.8462rem;
        height: 1.5385rem;
        background-position: 0 96.207%;
    }

    &.sprite-versions {

        background: url('../images/version-icon.png') no-repeat;
        background-size: auto;
    }

    &.sprite-environment {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }

    &.sprite-infinite {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }

    &.sprite-creativity {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }

    &.sprite-arrow {
        width: 0.7692rem;
        height: 0.7692rem;
        background-position: 38.577% 52.076%;
    }
}